<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.we.modoo.modoo" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- for mta statistics, not necessary-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application>
        <activity
            android:name="com.we.modoo.core.WXEntryActivity"
            android:exported="true"
            android:screenOrientation="behind"
            android:launchMode="singleTop"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity="com.we.modoo.core.WXEntryActivity" />
    </application>
</manifest>
